/*changelog*/
h1{
  font-size:20px;
  margin:5px;
}
h2{
  font-size:16px;
  margin:5px;
}
ul{
  margin:0;
}
.TVidget{
  border: #555 1px solid;
  background-color: #F5F5F5;
  padding:2px;
}
/*changelog*/
/*jq1_0a3*/

/*jq1_0a3*/
/*jq1_0a4*/

/*jq1_0a4*/