############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

#############
## Jquicks
#############
.htaccess
/index.php
/*.xml
/.idea
/nbproject/
/projects/site/

