############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

#############
## Jquicks
#############
.htaccess
project.ini
/*.xml
/.idea
/nbproject/
/projects/test/


